
body{
        overflow-x: hidden;
}

*{
    padding: 0px;
    margin:0px;
}

.bannerweb{
    background-image: url("../imagenes/banner1.jpg");    
    background-position: center;
    background-size: cover;    
    height: 100vh;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.678);
    background-color:rgba(26, 6, 6, 0.486);
    background-blend-mode: multiply; 
}

.centrado{
    text-align: center;
}

.bajar1{
    padding-top: 150px;
}
.bajar2{
    padding-top: 50px;
}


h1{
    color:#ffffff;    
    font-size: 70px;
}
h2{
    color:#f1c40f;
    font-size: 50px;
    font-weight: bold; /*Texto grueso*/
    text-align: center; /*centrar texto*/
    margin-bottom: 20px; /*Espacio entre texto y botones*/
}
h3{
    color:#000;
    font-size: 40px;
}
.color1{
    color:#fff;
}
p{
    font-size: 20px;
    /*superior/inferior  izq-dere*/
    margin:40px 100px;
    text-align: justify;
}


/*botones*/
.botones {
    width: 150px;
    height: 30px;
    border: 3px solid #070707;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    /*espaciado*/
    padding: 6px 35px;
    /*quita subrayado*/
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    transition: all linear 0.2s;
    /*forma del boton redondeado*/
    border-radius: 10px;
}

.botones:hover {
    width: 150px;
    height: 30px;
    background-color: #0056b3;
    color: #efefef;
    text-decoration: none;
    font-size: 20px;
    transition: all linear 0.2s;
}

.menunavegacion {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 30px; /* Aumenta el espacio entre los botones */
    margin: 30px 0; /* Espaciado superior e inferior */
    }

/*formulario*/
.configform{    
     display: flex;
     justify-content: center;
     padding-top: 100px;     
     color: #fff;
 }
 .configform2{    
    display: flex;
    justify-content: center;    
    color: #fff;
}


 label{
    font-size: 24px;   
    float: left;
 }
 /*controles input*/
 .form-control{
    font-size: 20px;   
}

footer{    
    background-color: #000;
    padding:20px 20px;
}
.formatospie{
    color:#fff;
    font-size: 24px;
}

/* pone el video a todo lo ancho*/
video{
    object-fit: cover;   
}
